<!-- Created by Ayush Pandya -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Matchup</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Title of website -->
    <h1>League Matchup</h1>

    <!-- Form Section -->
    <form id="filterForm">
        <div>
            <input type="text" id="gameName" name="username" placeholder="Username">
            <label for="tagLine">#</label>
            <input type="text" id="tagLine" name="tagLine" placeholder="Tag">
        </div>
        <div>
            <label for="numMatches">Number of Matches:</label>
            <input type="number" id="numMatches" name="numMatches" placeholder="1-100" min="1" max="100">
        </div>
        <div>
            <label for="Region">Region:</label>
            <select id="Region">
                <option>Select a Region</option>
                <option value="Americas">Americas</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
            </select>
        </div>
        <button type="button" id="submitButton">Submit</button>
    </form>

    <!-- Error or Success Message -->
    <div id="response"></div>
</body>
</html>
